.workspace-main {
  overflow: hidden;
  flex-wrap: nowrap;
}

.workspace-graph-nospace {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.workspace-sidebar {
  border-right: 2px #dedede solid;
  overflow-x: hidden;
}

.workspace-sidebar > div {
  padding: 1rem !important;
  border-bottom: 1px #dedede solid;
}

.workspace-sidebar > div:last-child {
  border: none;
}
.search-results-container {
  overflow-y: scroll;
  max-height: 30rem;
}

.overflow-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
