.overlay {
  border: 2px solid gray;
  background-color: #f0f0f0;
  height: 25%;
}

.workspace-main {
  overflow: hidden;
  flex-wrap: nowrap;
}

.workspace-graph-nospace {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.workspace-sidebar {
  border-right: 2px #dedede solid;
  overflow-x: hidden;
}
